footer#footer
        .wrpl
          a(href='/')
            dl
              dt
                img(src='/images/SES_white_small.png')
              dd
                strong SPARQL Endpoints Status
              // dd><br><br><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a></dd
        .wrpl
          br
          #linkcat-6.bookmarks
            b Documentation
            ul.xoxo.blogroll
              li
                a(href='https://github.com/pyvandenbussche/ends/wiki', title='About SPARQL Endpoints Status', target='_blank') About
              li
                a(href='/api', title='Get access to SPARQLES via APIs') APIs
              li
                a(href='/data', title='Get access to SPARQLES Data') Data
              li
                a(href='https://github.com/pyvandenbussche/ends/wiki', title='Download a standalone instance of the tool', target='_blank') Download
              li
                a(href='https://github.com/OpenLinkSoftware/sparqles', title='Source in GitHub', target='_blank') Source code
          #linkcat-6.bookmarks
            b Publication
            ul.xoxo.blogroll
              li
                a(href='https://link.springer.com/chapter/10.1007/978-3-642-41338-4_18', title='Article in ISWC 2013 Evaluation track', target='_blank') ISWC 2013
        .wrpl
          a#mt(href='https://www.openlinksw.com', target='_blank')
            div
            span
              p Hosted by 
              p OpenLink Software
          div(style="float:right")
            a(rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank")
                img(alt="Creative Commons License" style="border-width:0; margin:1.2em;" src="https://i.creativecommons.org/l/by/4.0/88x31.png")

