doctype html
html(lang='en')
  include head
  body.home
    | <div id="maintenance">Under development by OpenLink Software for the <a href="https://www.3dfed.com" target="_blank">3DFed</a> project.</div>
    .container
      include header
      block content
      include footer
