doctype html
html(lang='en')
  include head
  body.home
    | <div id="maintenance">Under development by <a href="https://www.openlinksw.com" target="_blank">OpenLink Software</a> for the <a href="https://www.3dfed.com" target="_blank">3DFed</a> project.</div>
    .container
      include header
      block content
      include footer
